gs-chatbot/flowsgs.json
[
    {
        "id": "668853a60b4694c8",
        "type": "tab",
        "label": "TelegramIbmCompleto",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b926e870b16ec8bd",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procIN Text & Option",
        "func": "msg.params = {\n    \"session_id\": 123\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "c2624c40ca220f15"
            ]
        ]
    },
    {
        "id": "216435a8eff735c9",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procOut Text and Opt",
        "func": "const generic = msg.payload.output.generic || [];\n\nlet buttons = [];\nlet textParts = [];\nlet opcoesFaladas = [];\n\ngeneric.forEach(item => {\n    if (item.response_type === \"text\" && item.text) {\n        textParts.push(item.text);\n    }\n\n    if (item.response_type === \"option\" && item.options) {\n        if (item.title) {\n            textParts.push(item.title);\n        }\n\n        item.options.forEach((opt, index) => {\n            const numero = index + 1;\n            const label = opt.label;\n\n            opcoesFaladas.push(`Opção ${numero}: ${label}`);\n\n            buttons.push([{\n                text: label,\n                callback_data: opt.value?.input?.text || label\n            }]);\n        });\n    }\n});\n\n// texto original do Watson para aparecer no Telegram\nmsg.textPartsOriginal = textParts.join(\"\\n\");\n\n// texto com opções para o TTS\nmsg.textoParaFalar = [\n    ...textParts,\n    ...opcoesFaladas\n].join(\". \");\n\n// botões\nmsg.botoesTelegram = buttons;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 320,
        "wires": [
            [
                "c63da4b14df57981",
                "b88feb8986b45a50"
            ]
        ]
    },
    {
        "id": "90a968852c863dfc",
        "type": "telegram receiver",
        "z": "668853a60b4694c8",
        "name": "",
        "bot": "d7666065f3b4df4b",
        "saveDataDir": "",
        "filterCommands": false,
        "hasinput": false,
        "inputs": 0,
        "handleallupdates": false,
        "handleprocessupdates": false,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "2b22c74d563801b6",
                "0b71ce5606f3e8dc"
            ],
            []
        ]
    },
    {
        "id": "aae6a8de8bb02aeb",
        "type": "telegram sender",
        "z": "668853a60b4694c8",
        "name": "",
        "bot": "d7666065f3b4df4b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1430,
        "y": 320,
        "wires": [
            [
                "0c886e129eef4e92"
            ]
        ]
    },
    {
        "id": "c2624c40ca220f15",
        "type": "watson-assistant-v2",
        "z": "668853a60b4694c8",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/aa57b8e5-7b89-40fb-a709-b06ae6160ac0",
        "assistant_id": "124fef53-dabe-4429-8eb2-e8eca4402b7a",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 670,
        "y": 320,
        "wires": [
            [
                "216435a8eff735c9"
            ]
        ]
    },
    {
        "id": "680f6ff8ccfa6c78",
        "type": "telegram event",
        "z": "668853a60b4694c8",
        "name": "",
        "bot": "d7666065f3b4df4b",
        "event": "callback_query",
        "autoanswer": false,
        "x": 100,
        "y": 440,
        "wires": [
            [
                "b926e870b16ec8bd",
                "1cc9b38a326b3469"
            ]
        ]
    },
    {
        "id": "4b5f6218416f411a",
        "type": "debug",
        "z": "668853a60b4694c8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 120,
        "wires": []
    },
    {
        "id": "d7d13e0e7f90ab20",
        "type": "watson-speech-to-text",
        "z": "668853a60b4694c8",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "Xsy7DEI7CKz4YYKM1OMIAx-biqbGZTZfXemXEks6_cn7",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/c4b61777-3893-4bfd-b9b5-e47935317477",
        "x": 680,
        "y": 120,
        "wires": [
            [
                "c2624c40ca220f15"
            ]
        ]
    },
    {
        "id": "a9a4c602bd901bef",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procIN Voice",
        "func": "msg.params = {\n    \"session_id\": 123\n};\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "d7d13e0e7f90ab20"
            ]
        ]
    },
    {
        "id": "2b22c74d563801b6",
        "type": "switch",
        "z": "668853a60b4694c8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "a9a4c602bd901bef"
            ],
            [
                "b926e870b16ec8bd"
            ]
        ]
    },
    {
        "id": "1ad0dbc2b624728c",
        "type": "watson-text-to-speech",
        "z": "668853a60b4694c8",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_LucasNatural",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "LO4R-AnDFluB0C1Qa_Tz1AglhHgAhEc2-3ijWqQ3CApk",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/0bbe67cd-ee51-471d-a526-cee5f040804d",
        "x": 1260,
        "y": 140,
        "wires": [
            [
                "0afdb3d6aa39bd58"
            ]
        ]
    },
    {
        "id": "50402ecd2741972c",
        "type": "debug",
        "z": "668853a60b4694c8",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "c63da4b14df57981",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procIN TTS",
        "func": "msg.payload = msg.textoParaFalar;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "1ad0dbc2b624728c",
                "50402ecd2741972c"
            ]
        ]
    },
    {
        "id": "95f65c6354375799",
        "type": "play audio",
        "z": "668853a60b4694c8",
        "name": "",
        "voice": "",
        "x": 1450,
        "y": 40,
        "wires": []
    },
    {
        "id": "0afdb3d6aa39bd58",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procOut TTS",
        "func": "msg.payload = {\n    chatId : msg.chatId,\n    type: \"voice\",\n    content: msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 200,
        "wires": [
            [
                "aae6a8de8bb02aeb",
                "4b5f6218416f411a"
            ]
        ]
    },
    {
        "id": "b88feb8986b45a50",
        "type": "function",
        "z": "668853a60b4694c8",
        "name": "procOut Opt",
        "func": "msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.textPartsOriginal || \"\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 320,
        "wires": [
            [
                "aae6a8de8bb02aeb"
            ]
        ]
    },
    {
        "id": "0b71ce5606f3e8dc",
        "type": "debug",
        "z": "668853a60b4694c8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "1cc9b38a326b3469",
        "type": "debug",
        "z": "668853a60b4694c8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "0c886e129eef4e92",
        "type": "debug",
        "z": "668853a60b4694c8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1660,
        "y": 320,
        "wires": []
    },
    {
        "id": "d7666065f3b4df4b",
        "type": "telegram bot",
        "botname": "NeoSphere232_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "990f27bb2e3954aa",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.4.6",
            "node-red-node-watson": "0.10.3",
            "node-red-contrib-play-audio": "2.5.0"
        }
    }
]